# Start SystemD service when device is connected
ACTION=="add", SUBSYSTEM=="hid", \
  ATTRS{idVendor}=="239a", ATTRS{idProduct}=="80ff", \
  RUN+="/usr/bin/systemd-run --no-block /bin/systemctl start custom-trinkey.service"

# Stop service when disconnected
ACTION=="remove", SUBSYSTEM=="hid", \
  ATTRS{idVendor}=="239a", ATTRS{idProduct}=="80ff", \
  RUN+="/usr/bin/systemd-run --no-block /bin/systemctl stop custom-trinkey.service"
