[Unit]
Description=NeoTrinkey Monitor

[Service]
Type=simple
ExecStart=/usr/local/bin/trinkey_app
Restart=on-failure
RestartSec=2
StartLimitBurst=0
RuntimeDirectory=trinkey
RuntimeDirectoryMode=0755
