[Unit]
Description=NeoTrinkey Monitor for %I

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/trinkey_app /sys/bus/hid/devices/%I
Restart=on-failure
RestartSec=2
StartLimitBurst=0
RuntimeDirectory=trinkey
RuntimeDirectoryMode=0755
